<div class="container ipu-map-country">
    {#}{ dump() }#}
    <h1>
        <div class="d-flex align-items-end">
            <div>{{ content.flag }}</div>
            <div>{{ content.title }}</div>
        </div>
    </h1>
    {{ content.parline_data }}

    <div class="row">
        <div class="col-md-4">
            {{ content.country_stats }}
        </div>
        <div class="col-md-8">
           {% if content.news_and_stories|length %}
            <h2>{{ 'Related news'|t }}</h2>
                {{ content.news_and_stories }}
            {% endif %}
            {% if content.case_studies|length %}
            <h2>{{ 'Case studies'|t }}</h2>
                {{ content.case_studies }}
            {% endif %}
            {% if content.events|length %}
                <h2>{{ 'Related events'|t }}</h2>
                {{ content.events }}
            {% endif %}
        </div>
    </div>

</div>
<div class="in-the-section">
    <div class="container">
        <h2>{{ 'In the region'|t }}</h2>
            {{ content.geogroups }}
    </div>
</div>