{#
/**
 * @file
 * Default template for a field.
 *
 * This adds bootstrap-friendly tabs wrappers to the sub-page fields
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{%
  set title_classes = [
  'field__label',
  'font-weight-bold',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}

  <ul class="nav nav-tabs" role="tablist">
    {% for item in items %}
      {% if loop.first %}
        {% set item_classes = ['active'] %}
      {% else %}
        {% set item_classes = [] %}
      {% endif %}
      <li class="nav-item">
        <a href="#field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}"
           {{ item.attributes.addClass(['nav-link']).addClass(item_classes) }}
           data-toggle="tab">{{ item.content['#paragraph'].field_title.value }}</a>
      </li>
    {% endfor %}
  </ul>

  {% if multiple %}
    <div{{ attributes.addClass(classes) }}>
      {% for item in items %}
        <div id="field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}"
             role="tabpanel"
                {{ item.attributes.addClass('field__item').addClass(['tab-pane', 'fade']) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      {% if loop.first %}
        {% set item_classes = ['active', 'show'] %}
      {% else %}
        {% set item_classes = [] %}
      {% endif %}
      <div id="field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}"
             role="tabpanel"
                {{ attributes.addClass(classes).addClass(item_classes).addClass(['tab-pane', 'fade']) }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>
      {{ label }}{% if label_display == 'inline' %}<span class="field__label__suffix mr-1">:</span>{% endif %}
    </div>

    <ul class="nav nav-tabs" role="tablist">
      {% for item in items %}
        {% if loop.first %}
          {% set item_classes = ['active', 'show'] %}
        {% else %}
          {% set item_classes = [] %}
        {% endif %}
        <li class="nav-item">
          <a href="#field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}"
             {{ item.attributes.addClass(['nav-link']).addClass(item_classes) }}
             data-toggle="tab">{{ item.content['#paragraph'].field_title.value }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if multiple %}

    <div class="field__items tab-content">
      {% endif %}
      {% for item in items %}
        {% if loop.first %}
          {% set item_classes = ['active', 'show'] %}
        {% else %}
          {% set item_classes = [] %}
        {% endif %}
        <div id="field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}"
             role="tabpanel"
                {{ item.attributes.addClass('field__item').addClass(['tab-pane', 'fade']).addClass(item_classes) }}>{{ item.content }}</div>
      {% endfor %}
      {% if multiple %}
    </div>
    {% endif %}
  </div>
{% endif %}
