{#
/**
 * @file
 * Default template for a field.
 *
 * This adds bootstrap-friendly tabs wrappers to the sub-page fields
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{%
  set title_classes = [
  'field__label',
  'font-weight-bold',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  <div class="d-none d-md-block">
    {% if multiple %}
      <div class="tab-contentfield__items tab-content {{ classes }}">
    {% endif %}
        {% for item in items %}
          {% if loop.first %}
            {% set item_classes = ['active', 'show'] %}
          {% else %}
            {% set item_classes = [] %}
          {% endif %}
          <div id="field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}" role="tabpanel" {{ item.attributes.addClass('field__item').addClass(['tab-pane', 'fade']).addClass(item_classes) }}>{{ item.content }}</div>
        {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
  
  <div class="d-md-none">
    <div class="accordion" id="events-sub-page-accordion">
      {% for item in items %}
        {% if loop.first %}
          {% set item_classes = ['collapse', 'show'] %}
        {% else %}
          {% set item_classes = ['collapse'] %}
        {% endif %}
        <div class="card">
          <div class="card-header" id="event-sub-page-accordion-heading-{{ item.content['#paragraph'].id.value }}">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#event-sub-page-collapse-{{ item.content['#paragraph'].id.value }}" aria-expanded="true" aria-controls="event-sub-page-collapse-{{ item.content['#paragraph'].id.value }}">
                {{ item.content['#paragraph'].field_title.value }}
              </button>
            </h2>
          </div>
          <div id="event-sub-page-collapse-{{ item.content['#paragraph'].id.value }}" {{ item.attributes.addClass('field__item').addClass(['tab-pane', 'fade']).addClass(item_classes) }} aria-labelledby="event-sub-page-accordion-heading-{{ item.content['#paragraph'].id.value }}" data-parent="#events-sub-page-accordion">
            <div class="card-body">
              {{ item.content }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% else %}

  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills ipu-menu-list" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% for item in items %}
          {% if loop.first %}
            {% set item_classes = ['active', 'show'] %}
          {% else %}
            {% set item_classes = [] %}
          {% endif %}
            <a href="#field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}" {{ item.attributes.addClass(['nav-link']).addClass(item_classes) }} data-toggle="tab">{{ item.content['#paragraph'].field_title.value }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-9">
      {% if multiple %}
        <div class=" tab-contentfield__items tab-content">
      {% endif %}
          {% for item in items %}
            {% if loop.first %}
              {% set item_classes = ['active', 'show'] %}
            {% else %}
              {% set item_classes = [] %}
            {% endif %}
            <div id="field-event-sub-page-tab-{{ item.content['#paragraph'].id.value }}" role="tabpanel" {{ item.attributes.addClass('field__item').addClass(['tab-pane', 'fade']).addClass(item_classes) }}>{{ item.content }}</div>
          {% endfor %}
      {% if multiple %}
        </div>
      {% endif %}
    </div>
  </div>
  
{% endif %}
