{#
/**
 * @file
 * Default template for a field.
 */
#}

{# A bit of debuggin <ol>
  {% for key, val in _context  %}
    <li>{{ key }}: </li>
  {% endfor %}
</ol>
#}
{%
  set classes = [
  'container',
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
  label_display == 'inline' ? 'd-flex',
]
%}
{%
  set title_classes = [
  'field__label',
  'font-weight-bold',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% set x = content.field_fc_sessions_session_title[0]|raw %}

  <div data-toggle="collapse" data-target="#{{ x|render|clean_id }}"><strong>{{ content.field_fc_sessions_session_title[0]|raw }}</strong></div>

  <div style="background-color: #f9f9f9;" id="{{ x|render|clean_id }}" class="collapse">
    {{ content }}
  </div>



